.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  padding: 0 0 5px 0;
}

@media (min-width: 768px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 968px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
