* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-title: "Quicksand", sans-serif;
  --font-text: "Poppins, sans-serif";
}
body {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}
